body{
    font-family:'open sans';
}
.border-dark {
    border: 1px solid #999;
}
.rounded {
    border-radius: 5px;
}
.margin-top {
    margin-top: 3%;
}
.margin-right {
    margin-right: 10%;
}
.padding{
    padding:10px 15px;
}
/* #regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
} */

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
  font-weight:normal;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
  font-weight:normal;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
  font-weight:normal;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
  font-weight:normal;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
  font-weight:normal;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #155f9c;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
/* .step {
    background-color: #155f9c;
    border: none;
    padding: 10px 30px;
    float: left;
    font-family: 'Open Sans';
    border-top: 5px solid #999999;
    font-weight: 600;
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
    width: 25%;
    color: #ccc;
} */
li.step.active{
    background:#155f9c;
}
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #155f9c;
  color:#fff;
}
.steps-header {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 32px;
    float: left;
}
p.step-detials {
    font-size: 11px;
    color: #ccc;
    line-height: 16px;
}
.right-arrow{
    margin-left:10px;
    margin-right:10px;
}
.center{text-align:center;}
.margin{margin-top:2%; margin-bottom:2%;}

.steps {
    /* margin: 40px 0; */
    padding: 0;
    overflow: hidden;
}
.steps a {
    color: white;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    font-family: 'open sans';
}
.steps em {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}
.steps li {
    float: left;
    margin-left: 0;
    width: 20%;
    text-align: center;
    height: 50px;
    list-style-type: none;
    padding: 11px 5px;
    border-right: 3px solid white;
    position: relative;
}
/* remove extra padding on the first object since it doesn't have an arrow to the left */
.steps li:first-child {
  padding-left: 5px;border-radius: 5px 0 0 5px;
}
/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n+2)::before {
    position: absolute;
    top: 0;
    left: 0px;
    display: block;
    border-left: 25px solid white;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    width: 0;
    height: 0;
    content: " ";
}
/* colored arrow to the right */
.steps li::after {
    z-index: 1;
    position: absolute;
    top: 0;
    right: -16px;
    display: block;
    border-left: 16px solid #155f9c;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    width: 0;
    height: 0;
    content: " ";
}

/* Setup colors (both the background and the arrow) */

/* Completed */
.steps li {background-color: #e9e9e9;}
.steps li::after {border-left-color: #e9e9e9;}

/* Current */
.steps li.active {background-color: #c6478e;color:#fff;}
.steps li.active::after { border-left-color: #155f9c; }

/* Following */
.steps li.current ~ li { background-color: #155f9c; }
.steps li.current ~ li::after { border-left-color: #155f9c; }

/* Hover for completed and current */
.steps li:hover {background-color: #e55382;color:#fff;}
.steps li:hover::after {border-left-color: #e55382;}

.steps li.active::after {
    border-left-color: #c6478e;
}
.steps li.active:hover::after {
    border-left-color: #e55382;
}
.steps li.active::before {
    border-left-color: ##fff;
}

.bg-scroll{margin-top:20px;}

/* ------------------Steps-------------------- */
#regForm {
  background-color: #ffffff;
  margin: 15px auto;
  float:left;
  width: 100%;
}
.text-danger {
    position: absolute;
}
fieldset{
    display:none;
    padding:20px;
    margin-top:50px;
    border-radius:5px;
    box-shadow: 3px 3px 25px 1px gray;
}

#first{
    display:block;
    padding:20px;
    margin-top:50px;
    border-radius:5px;
    box-shadow: 0px 1px 5px 0px grey;
}


input[type=submit],
input[type=button]{
    width: 120px;
    margin:15px 25px;
    padding: 5px;
    height: 40px;
    background-color: #155f9c;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Droid Serif', serif;
    }

/*----------------------Steps-----------------*/


/* Form Nomination */
.nominationform{}
.nomination-fieldset{
    float:left;
    box-sizing:border-box;
    padding:10px;
    margin-top:20px;
    border-radius:5px;
    box-shadow: 0px 1px 10px 1px #80808059;
    width:100%; background:#fff;
}
.nomination-parts1{
    float:left;
    width:100%;
}
.nomination-parts{
    margin:15px 0;
    float:left;
    width:100%;
    padding:20px 25px;
}
.nomination-heading {
    text-align: center;
}
.nomination-form-heading {
    margin-bottom: 20px;
   
}
.nomination-detail{}
.nomination-signature {
    width: 100%;
    float: left;
    margin: 50px 0 0 0;
}
.nomination-date{}
.left{float:left;}
.right{
    float:right; 
    text-align:right;
}
.nomination-sign{}
.table-heading {
    text-align: center;
    margin: 30px 0 5px 0;
    font-weight: bold;
}
.or {
    text-align: center;
    margin: 10px 0;
}
.nomination-detail li {
    list-style: none;
    font-size:15px;
}
.nomination-note {
    width: 100%;
    border-top: 1px solid #000;
    float: left;
    border-bottom: 1px solid #000;
    padding: 15px 0;
    margin: 20px 0 0 0;
    font-size:15px;
}
.nomination-options.strikeout label{font-weight:normal;}
.nomination-profilepic{
    width:100%;
    float:left;
}
.profilepic{
    border:1px solid #999;
}
input.upload_profile{
    border:0px;
    display:none;
}
.profilepic {
    float: right;
    width: 16%;
    padding: 10px 10px;
    box-sizing: border-box;
}
span.profiletext {
    font-size: 11px;
    font-style: italic;
}
input.nomination-field-3 {
    width: 28%;
    border: 1px dashed #ccc;
    box-shadow: inset 0px 0px 6px 0px #ccc;
    padding: 2px 5px;
    box-sizing: border-box;
    margin: 1px 10px 17px;
}
input.nomination-field-2 {
    width: 20%;
    border: 1px dashed #ccc;
    box-shadow: inset 0px 0px 6px 0px #ccc;
    padding: 2px 5px;
    box-sizing: border-box;
    margin: 1px 10px 17px;
}
input.nomination-field-1 {
    width: 10%;
    border: 1px dashed #ccc;
    box-shadow: inset 0px 0px 6px 0px #ccc;
    padding: 2px 5px;
    box-sizing: border-box;
    margin: 1px 10px 17px;
}
select.nomination-field-2 {
    width: 20%;
    border: 1px dashed #ccc;
    box-shadow: inset 0px 0px 6px 0px #ccc;
    padding: 2px 5px;
    box-sizing: border-box;
    margin: 1px 10px 17px;
}

input.nomination-field-4 {
    width: 45%;
    border: 1px dashed #ccc;
    box-shadow: inset 0px 0px 6px 0px #ccc;
    padding: 2px 5px;
    box-sizing: border-box;
    margin: 1px 10px 17px;
}
input.nomination-field-11{
    width: 90%;
    border: 1px dashed #ccc;
    box-shadow: inset 0px 0px 6px 0px #ccc;
    padding: 2px 5px;
    box-sizing: border-box;
    margin: 1px 10px 17px;
}
input.nomination-field-12 {
    width: 97%;
    border: 1px dashed #ccc;
    box-shadow: inset 0px 0px 6px 0px #ccc;
    padding: 2px 5px;
    box-sizing: border-box;
    margin: 6px 0px 17px;
}
.particulars-field-12{
    width:100%;
    border:1px solid transparent;
    padding:0px;
}
.proposers-table tr th {
    font-size: 14px;
    font-weight:bold;
}
.proposers-table tr td {
    font-size: 12px;
    font-weight:bold;
}
input#profileimg{
    border:0px;
    color:transparent;
}
input.parts-opt{width:3%;}
input.strikeout-applicable{width:3%;}
.nomination-options {
    margin-bottom: 5px;
    width: 100%;
    float: left;
}
.nomination-options label{
    font-weight:bold;
}
.nominationnote{
    width:100%;
    float:left;
    margin-top:10px;
}
.spouse {
    cursor: pointer;
    color: #ff0000;
}
.recognised .nomination-detail b {
    font-size: 24px;
    position: relative;
    top: 5px;     font-weight: 400;
}
.clickhere{font-size:10px;}
th.switch{text-align:center;}
.picker-switch{display:none;}
#datetimepicker1 {
    float: right;
    width: 70%;
}
.nominationvalue {     border-bottom: 1px solid #999;
    padding: 0 0;
    /* margin: 0 5px; */
    font-weight: bold;
     
    /* background: #fcffb12b; */
    text-transform: capitalize;}
div#imagePreview img {
    border: 2px solid #c6478e;
    border-radius: 10px;
}